amqp==5.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
dependencies==7.7.0
dnspython==1.16.0
eventlet==0.37.0
greenlet==3.1.0
idna==3.10
kombu==5.4.2
MarkupSafe==2.1.5
marshmallow==3.22.0
mock==5.1.0
nameko==2.14.1
nameko-sqlalchemy==1.5.0
packaging==24.1
path==17.0.0
path.py==12.5.0
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vine==5.1.0
Werkzeug==3.0.4
wrapt==1.16.0
